/* TODO Add site wide styles */
.calendar {
    box-sizing: border-box;
    font-size: 1rem;
  }

  .calendar .header {
    background-color: #648dae;
    border-radius: 4px;
    color: white;
    display: flex;
    width: 1046px;
    margin-top: 10px;
  }

  .calendar .day-names {
    display: flex;
    flex-wrap: wrap;
    max-width: 1145px;
    margin: 0 auto;
    align-items: center;
    color: white;

  }

  .calendar .header .previous {
    flex: 1;
    text-align: left;
    margin-left: 10rem;
  }

  .calendar .header .next {
    flex: 1;
    text-align: right;
    margin-right: 10rem;
  }

  .calendar .week {
    background-color: rgb(61,61,61);
    width: calc(100% / 7);
    height: 66px;
    /* line-height: 66px; */
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 400;
  }
  .calendar .week div {
    /* width: 100%; */
    width: calc(100% / 7);
  }

  .calendar .day {
    position: relative;
    width: calc(100% / 7);
    height: 66px;
    /* width: 66px; */
    display: inline-block;
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
  }

  .calendar .day div {
    width: calc(100% / 7);
    position: relative;
    color: blue;
    z-index: 100;
  }

  .calendar .day div.before {
    color: rgb(208,208,208)
  }

  .calendar .day div.selected {
    background-color: red;
    color: var(--white);
    font-weight: bold;
  }

  .calendar .day div.placement {
    background-color: lightblue;
    font-weight: bold;
  }

.day:hover {
    background-color: grey;
    cursor: pointer;
}

  .calendar .day div.today {
    background-color: blue;
    color: white;
  }

  /* Styles for calendar test */
.month-container {
  display: grid;
  grid-template-columns: 1;
  text-align: center;
}

/* Because this example was hard-coded, we KNOW that the first */
/* date goes in Sunday - grid-column: 7.  Taking that away places */
/* the first date on Monday (grid column 1) */
.calendar-container div:first-child {
  grid-column: 7;
}

.calendar-container div:hover {
  color: white;
  cursor: pointer;
}
